<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="userName">User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseoverLogin1)">Required</em>
      <input (ngModel)="username" name="userName" required id="userName" type="text" class="form-control" placeholder="User Name..."
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid  && (loginForm.controls.password?.touched || mouseoverLogin1)">Required</em>
      <input (ngModel)="password" name="password" required id="password" type="password" class="form-control" placeholder="Password..."
      />
    </div>

    <span (mouseenter)="mouseoverLogin1=true" (mouseleave)="mouseoverLogin1=false">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </span>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>


<div class="col-md-2">
  loginForm.valid: <br> loginForm.invalid: <br> loginForm.dirty: <br> loginForm.pristine: <br> loginForm.submitted: <br>  loginForm.touched: <br> loginForm.untouched: <br>
</div>


<div class="col-md-1">
  <span [ngStyle]="{color:loginForm.valid?'green':'red'}"> {{loginForm.valid}} </span>:
  <br> <span [ngStyle]="{color:loginForm.invalid?'green':'red'}"> {{loginForm.invalid}} </span>:
  <br> <span [ngStyle]="{color:loginForm.dirty?'green':'red'}"> {{loginForm.dirty}} </span>:
  <br> <span [ngStyle]="{color:loginForm.pristine?'green':'red'}"> {{loginForm.pristine}} </span>:
  <br> <span [ngStyle]="{color:loginForm.submitted?'green':'red'}"> {{loginForm.submitted}} </span>:
  <br> <span [ngStyle]="{color:loginForm.touched?'green':'red'}"> {{loginForm.touched}} </span>: <br>
  <span [ngStyle]="{color:loginForm.untouched?'green':'red'}"> {{loginForm.untouched}} </span>:
  <br>
</div>


<div class="col-md-4" style="padding-left:25px">
  loginForm.controls.userName.valid :: <br> loginForm.controls.userName.invalid :: <br> loginForm.controls.userName.dirty
  :: <br> loginForm.controls.userName.pristine :: <br> loginForm.controls.userName.touched :: <br> loginForm.controls.userName.untouched
  :: <br>
  <br>
  <br> loginForm.controls.password.valid :: <br> loginForm.controls.password.invalid :: <br> loginForm.controls.password.dirty
  :: <br> loginForm.controls.password.pristine :: <br> loginForm.controls.password.touched :: <br> loginForm.controls.password.untouched
  :: <br>

</div>

<div class="col-md-1" style="padding-left:30px">
  <span [ngStyle]="{color:loginForm.controls.userName?.valid?'green':'red'}"> {{loginForm.controls.userName?.valid}} </span>  <br/>
  <span [ngStyle]="{color:loginForm.controls.userName?.invalid?'green':'red'}"> {{loginForm.controls.userName?.invalid}} </span>  <br/>
  <span [ngStyle]="{color:loginForm.controls.userName?.dirty?'green':'red'}"> {{loginForm.controls.userName?.dirty}} </span>
  <br/> <span [ngStyle]="{color:loginForm.controls.userName?.pristine?'green':'red'}"> {{loginForm.controls.userName?.pristine}} </span>  <br/>
  <span [ngStyle]="{color:loginForm.controls.userName?.touched?'green':'red'}"> {{loginForm.controls.userName?.touched}} </span>  <br/>
  <span [ngStyle]="{color:loginForm.controls.userName?.untouched?'green':'red'}"> {{loginForm.controls.userName?.untouched}} </span>
  <br/>
  <br/>
  <br/> <span [ngStyle]="{color:loginForm.controls.password?.valid?'green':'red'}"> {{loginForm.controls.password?.valid}} </span>  <br/>
  <span [ngStyle]="{color:loginForm.controls.password?.invalid?'green':'red'}"> {{loginForm.controls.password?.invalid}} </span>  <br/>
  <span [ngStyle]="{color:loginForm.controls.password?.dirty?'green':'red'}"> {{loginForm.controls.password?.dirty}} </span>
  <br/> <span [ngStyle]="{color:loginForm.controls.password?.pristine?'green':'red'}"> {{loginForm.controls.password?.pristine}} </span>  <br/>
  <span [ngStyle]="{color:loginForm.controls.password?.touched?'green':'red'}"> {{loginForm.controls.password?.touched}} </span>  <br/>
  <span [ngStyle]="{color:loginForm.controls.password?.untouched?'green':'red'}"> {{loginForm.controls.password?.untouched}} </span>

</div>
<br>
